version: '2.1'
services:
  microservice-mgr:
    container_name: MICRO-MGR
    image: java:8-jre
    volumes:
      - ./microservice-mgr/target:/app
    command: java -Djava.security.egd=file:/dev/./urandom -Dspring.profiles.active=container -jar /app/microservice-mgr.jar
    ports:
      - 8080:8080

  mgr-db:
    container_name: MGR-DB
    image: mysql
    environment:
      - MYSQL_ROOT_PASSWORD=123456
    volumes:
      - ./mgr-db:/docker-entrypoint-initdb.d
    ports:
      - 3307:3306

  discovery-service:
    container_name: DISCOVERY
    image: java:8-jre
    environment:
      - CONTAINER_NAME=DISCOVERY
      - APPLICATION_JAR=/app/discovery-service.jar
    volumes:
      - ./discovery-service/target:/app
      - ./shell:/shell
    command: /shell/entrypoint.sh
    ports:
      - 8761:8761
  
  account-service:
    container_name: ACCOUNT
    image: java:8-jre
    environment:
      - CONTAINER_NAME=ACCOUNT
      - APPLICATION_JAR=/app/account-service.jar
    volumes:
      - ./account-service/target:/app
      - ./shell:/shell
    command: /shell/entrypoint.sh
    ports:
      - 2222:2222

  customer-service:
    container_name: CUSTOMER
    image: java:8-jre
    environment:
      - CONTAINER_NAME=CUSTOMER
      - APPLICATION_JAR=/app/customer-service.jar
    volumes:
      - ./customer-service/target:/app
      - ./shell:/shell
    command: /shell/entrypoint.sh
    ports:
      - 3333:3333

  # gateway-service:
  #   container_name: GATEWAY
  #   image: java:8-jre
  #   volumes:
  #     - ./gateway-service/target:/app
  #     - ./machine-agent:/agent
  #   command: java -Djava.security.egd=file:/dev/./urandom -Dspring.profiles.active=container -jar /app/gateway-service.jar
  #   ports:
  #     - 80:8765
