<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="微服务管理系统 v1.0">

    <title>微服务管理系统 v1.0</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">
</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="#">微服务管理系统 v1.0</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">by 廖凡丁</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div id="machine-list" class="deploy_block">
            <img class="deploy_icon" src="image/docker.png" >
            <h3>容器管理</h3>

            <div v-for="row in rows" class="am-panel">
                <div class="am-panel-hd">
                    <span v-if="row.result === 1" class="am-icon-right">正常</span>
                    <span v-else class="am-icon-wrong">异常</span>
                    {{ row.name }}
                    <a v-if="row.result === 2" v-bind:href="'machine/delele/' + row.host" class="am-fr">删除</a>
                </div>
                <ul>
                    <li>镜像：{{ row.image }}</li>
                    <li>IP地址：{{ row.ip }}</li>
                    <li>主机名：{{ row.host }}</li>
                    <li>最后更新：{{ row.time }}</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div id="service-list" class="deploy_block">
            <img class="deploy_icon" src="image/spring.png" >
            <h3>服务管理</h3>

            <div v-for="row in rows" class="am-panel">
                <div class="am-panel-hd">
                    <span v-if="row.result === 1" class="am-icon-right">正常</span>
                    <span v-else class="am-icon-wrong">异常</span>
                    {{ row.app }}
                </div>
                <ul>
                    <li>服务ID：{{ row.instanceId }}</li>
                    <li>IP地址：{{ row.ipAddr }}</li>
                    <li>主机名：{{ row.hostName }}</li>
                    <li>最后更新：{{ row.lastModify }}</li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div id="api-list" class="deploy_block">
            <img class="deploy_icon" src="image/swagger.png" >
            <h3>API管理</h3>

            <span class="am-search">
                服务搜索：<input id="api-query" type="text">
                <input type="submit" v-on:click="filterApi" value="搜索">
            </span>

            <div v-for="api in apis" class="am-panel">
                <div class="am-panel-hd">
                    {{ api.title }}

                    <span class="am-api-search">
                        <input id="api-item-query" type="text" class="am-text">
                        <input type="submit" class="am-button" v-on:click="filterApiItem(api)" value="搜索">
                    </span>
                </div>
                <ul v-for="row in api.items" class="am-api-list">
                    <li>{{ row.path }}</li>
                    <li v-if="row.result === 1" class="am-right">
                        <span class="am-icon-right">正常</span>
                        <span class="am-api">{{ row.summary }}</span>
                        <a class="am-view" target="_blank" v-bind:href="'detail.html#' + row.title">查看API</a>
                    </li>
                    <li v-else class="am-wrong">
                        <span class="am-icon-wrong">异常</span>
                        <span class="am-api">{{ row.summary }}</span>
                        <a class="am-view" target="_blank" v-bind:href="'detail.html#' + row.title">查看API</a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

    <hr>

    <!-- Footer -->
    <footer class="footer navbar-fixed-bottom">
        <div class="row">
            <div class="col-lg-12">
                <p></p>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<!--<script src="js/bootstrap.min.js"></script>-->

<!-- Vue2 -->
<script src="js/vue.js"></script>

<script src="js/index.js"></script>

</body>

</html>
