server:  
  port: ${PORT:3333}

eureka:  
  client:
    serviceUrl:
      defaultZone: ${DISCOVERY_URL:http://discovery-service:8761}/eureka/
  instance:
    leaseRenewalIntervalInSeconds: 1
    leaseExpirationDurationInSeconds: 2
          
ribbon:
  eureka:
    enabled: true

swagger:
  publish:
    publish-url: http://MICRO-MGR:8080/api/publish
    swagger-url: http://localhost:${server.port}/v2/api-docs
    security-token: 9a019713-XXXX-XXXX-XXXX-74090a0ea9f7